/*menu style*/
.menu{background-color: aqua;
    overflow: hidden; border-left: solid thick black; border-right: solid thick black;
    border-bottom: solid thick black; border-bottom-left-radius: 2rem; border-bottom-right-radius: 2rem;
      }
.menu a:hover{
   color: blue;
 }     
.menu a{text-decoration: none;
         float: left; display: block; padding:16px 14px; 
         font-size: 24px; text-transform: uppercase; 
          color: black; font-weight: bold; }     
        
 .quote{font-size: 20px; float: left; background-color:black; color: white; border-bottom-right-radius: 2rem; 
 border-bottom-left-radius: 2rem; border-top-right-radius: 2rem; border-top-left-radius: 2rem;}  

 .image{font-size: 50px; float: left; border-bottom-right-radius: 4rem; 
  border-bottom-left-radius: 4 rem; border-top-right-radius:  4rem; border-top-left-radius:  4 rem;}  

#container{
  background: url('../Images/peko.jpg');
  background-position:center;
  background-size:cover;
  height:200vh;
  width:100%;
  }

  #page{
    background: url('../Images/peko.jpg');
    background-position:center;
    background-size:cover;
    height:150vh;
    width:100%;
    }
  
    /*flexBox with-in the About page*/
.showcase{
  display:flex;
justify-content:space-around;
flex-wrap:wrap;
padding-top: 164px;}

  
/*FlexBoxes Images in the about page*/
.wepic{
  height:20rem;
  width:25rem;
  }
  
  .wepic1{
  height:25rem;
  width:30.1rem;
  }
  
  .wepic2{
  height:11rem;
  width:11.5rem;
  }
  
  .wepic3{
  height:10rem;
  width:11.5rem;
  }
  
  .wepic4{
  height:11rem;
  width:11.5rem;
  }
  
  figure{
  background-color:white;
  padding:2px;
  }

    .content{
      padding-top:10px;
      padding-bottom:25px;
      padding-left:25px;
      line-spacing:1.2px;
      font-family:arial;
      line-height:25px;
      font-size:20px;
      color:white;
      float:right;
      background-color:burlywood;
      width:40%;
      border-radius:28px;
      margin-right:1%;
      margin-top: 100px;
      }

       /*flexBox with-in the About page*/
.showcase1{
  display:flex;
justify-content:space-around;
flex-wrap:wrap;
padding-top: 164px;}

  
/*FlexBoxes Images in the about page*/
.wepic{
  height:9rem;
  width:9rem;
  }
  
  .wepic1{
  height:11rem;
  width:13.1rem;
  }
  a
  .wepic2{
  height:11rem;
  width:11.5rem;
  }
  
  .wepic3{
  height:10rem;
  width:11.5rem;
  }
  
  .wepic4{
  height:11rem;
  width:11.5rem;
  }
  
  figure{
  background-color:white;
  padding:2px;
  }

/*botton in home page*/
.btn{
  height:6px;
  width:20px;
  background:aqua;
  border:none;
  border-radius:2rem;
  padding:20px;
  cursor:pointer;
  transition:.3s ease;
  margin-left:34px;
  }
  
  .btn a{
  text-decoration:none;
  color:black;
  font-family:Arial;
  }
  .btn:hover{
    background-color:white;
    }

    /*Footer section*/
#footer{
  background:aqua;
  height:129px;
  width:100%;
  margin-top:700px;
  position:relative;
  clear:both;
  }
  
  #footer p{
  text-align:center;
  padding-top:14px;
  }
  #footor{
    background:aqua;
    height:129px;
    width:100%;
    margin-top:300px;
    position:relative;
    clear:both;
    }
    
    #footor{
    text-align:center;
    padding-top:14px;
    }
  